.container-table{
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 17px #333;
} 
.container-table input[type="text"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  height: 15px;
  width: 450px;
  color: #000;
  font-size: 18px;
}
.titulo{
    background: #909aff;
    border-color: blue;
    color: black;
    padding: 0.5em;
}
.titulo1{
    background: #90afff;
    border-color: black;
    color: black;
    padding: 0.4em;
}
.titulo2{
    border-color: black;
    color: black;
    padding: 0.2em;
}
.container-table a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.container-table a:hover {
  color: #000;
}

.container-table input[type="submit"] {
  background: cornflowerblue;
  color: #fff;
  margin: 0;
  width: 100%;
}

input {
  width: 20%;
  margin-bottom: 20px;
}
input[type="submit"] {
  height: 40px;
  background: cornflowerblue;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: cornflowerblue;
  color: #fff;
}