#contenido{
    height: 530px;
    width: 98%;
    margin: 15px;
}
#div1{
    background: azure;
    height: 470px;
    width: 60%;
    margin: 3% 20%;
    padding: 2% 3%;
    border-radius: 1em;
    box-shadow: 0px 0px 17px #333;
}
#img{
    float: left;
    width: 18%;
    height: 200px;
}
#div4 input {
  width: 100%;
  margin-bottom: 20px;
}
#div4 input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: cornflowerblue;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
#div4 input[type="submit"]:hover {
  cursor: pointer;
  background: cornflowerblue;
  color: #000;
}

#div2{
    width: 83% ; 
    height: 100%; 
    float: right;
}

#div2 label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

#div2 input {
  width: 100%;
  margin-bottom: 20px;
}

#div2 input[type="text"], #div2 input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

