body {
  margin: 0;
  padding: 0;
  background: url(../Imagenes/FondoPrincipal.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
#encabezado{  
    width: 100%;
    height: 110px;                  
}
#banner1{
    background: #fff;

    width: 79%;
    height: 110px;
    float: left;
}
#banner2{
    background: #cccccc;
    width: 21%;
    height: 110px;
    float: left;
}
#banner3{
    width: 40%;
    height: 110px;
    float: left;
}
#banner4{
    width: 60%;
    height: 110px;
    float: left;
}
/*--------------------------------MENU----------------------------------------*/
#menu{ 
    background-color: gray;
    box-shadow: 0px 5px 17px #333;
    width: 100%;
    height:30px;               
}   
.nav{ 
    background-color: blue;
    height: 30px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;                
}
ul, ol{
list-style:none;			
}			
.nav > li {
    float:left;
}
.nav li a {
    background-color:blue;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li a:hover {
    background-color:#434343;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    right:-140px;
    top:0px;
}            
#principal{ 
    width: 100%;
    height: 500px;                
}
#pie{ 
    background-color:gray;
    width: 100%;
    height: 50px;               
}
#pie1{
    background-color: #fff;
    width: 60%;
    height: 50px;
    float: left;
}
#acerca{
    margin: 10px 10px;
    padding: 5px 0px;
    width: 12%; 
    height: 30px;
    float: left;
}
#contac{
    margin: 10px 10px;
    padding: 5px 0px;
    width: 10%; 
    height: 30px;
    float: left;
}
#acce{
    margin: 10px 10px;
    padding: 5px 0px;
    width: 10%; 
    height: 30px;
    float: left;
}
#poli{
    margin: 10px 10px;
    padding: 5px 0px;
    width: 15%; 
    height: 30px;
    float: left;
}

#pie2{
    background-color: #fff;
    width: 40%;
    height: 50px;
    float: right;
}
#men{
    margin: 10px 10px;
    padding: 1px 0px;
    width: 18%; 
    height: 30px;
    float: left;
}
#redes{
    margin: 10px 10px;
    padding: 0px 0px;
    width: 8%; 
    height: 30px;
    float: left;
}
#pie1 a{
    text-decoration: none;
    color: black;
}
A:LINK {
	text-decoration : none ;
	color : blue ;
	font : 8pt Arial, Helvetica, Verdana ;
}
/*--------------------------------MENU----------------------------------------*/
