*{
    margin: 0px;
    padding: 0px;
}          
body{
    background : url(../imagenes/fondo.gif);
    background-size: 100%;
   
}
#xdd{
    background : url(../imagenes/fondo2.gif);
    background-size: 130%;
   
}
#cuadro{
    width: 350px;
    height: 450px;
    background-color: #141414  ; 
    margin: auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #141414;
    border-right: 35px solid #141414;
    border-left: 35px solid #141414;
    opacity: 0.9;
}
#cuadroR{
    width: 500px;
    height: 600px;
    background-color: white  ; 
    margin: auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid white;
    border-right: 35px solid white;
    border-left: 35px solid white;
    opacity: 0.9;
}

#encabezado
            {  width: 100%;
               height: 150px;
               background-color: black;                
            }
            #logo
            {  background-color: #B6B4B4;
               width: 20%;
               height: 150px;
               float: left;
            }
            #banner
            { background-color: #9B9695;
              width: 80%;
              height: 150px;
              float: left;                
            }
            #menu
            { background-color: gray;
              width: 100%;
              height: 30px;               
            }   
            .nav
            { background-color: black;
              height: 30px;
              overflow: hidden;
              list-style-type: none;
              margin: 0;
              padding: 0;                
            }
            ul, ol 
            {
              list-style:none;			
            }			
            .nav > li {
                    float:left;
            }
            .nav li a {
                    background-color:#000;
                    color:#fff;
                    text-decoration:none;
                    padding:10px 12px;
                    display:block;
            }
            .nav li a:hover {
                    background-color:#434343;
            }
            .nav li ul {
                    display:none;
                    position:absolute;
                    min-width:140px;
            }
            .nav li:hover > ul {
                    display:block;
            }
            .nav li ul li {
                    position:relative;
            }
            .nav li ul li ul {
                    right:-140px;
                    top:0px;
            }            
            #principal
            { width: 100%;
              height: 500px;                
            }
            #pie
            { background-color:gray;
              width: 100%;
              height: 100px;               
            }
A:LINK {
	text-decoration : none ;
	color : blue ;
	font : 8pt Arial, Helvetica, Verdana ;
}

A:VISITED {
	text-decoration : none ;
	color : blue ;
	font : 8pt Arial, Helvetica, Verdana ;
}

A:HOVER {
	text-decoration : none ;
	color : blue;
	font : 8pt Arial, Helvetica, Verdana ;
}

A:ACTIVE {
	text-decoration : none ;
	color : blue ;
	font : 8pt Arial, Helvetica, Verdana ;
}

textarea {
overflow: hidden;
}

BODY
{
	COLOR: black;
	FONT-FAMILY: Arial;
	background-color: #E7E4E6;

}

TH {
	background-color: WHITE;
	font-weight: bold;
	color: RED;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	text-align: left;
	text-decoration: underline;
}


.TH {
	background-color: #009933;
	font-weight: bold;
	color: #ffffff;
	font-family: Tahoma;
	font-size: 7.5pt;
	text-align: center;
	text-decoration: none;
}


.TH1 {
	background-color: #003399;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 7.5pt;
	text-align: center;
	text-decoration: none; 
}
.body1 
{
	background-color: #EEEEEE;
	font-size: 8px;

}

.body2 
{
	background-color: WHITE;
}




.input_text_combo 
{
	BORDER-BOTTOM: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	COLOR: #000066;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	height: 18px;
}

.input_text_combo2 
{
	BORDER-BOTTOM: #808080 1px solid;
	BORDER-LEFT: #808080 1px solid;
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	COLOR: #000066;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	height: 100px;
}


.input_text_r /* input number AAV */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    BORDER-RIGHT: #808080 1px solid;
    BORDER-TOP: #808080 1px solid;
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    text-align: RIGHT;
}
/* Textos */

.text_normal
{
	COLOR: BLACK;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
    FONT-WEIGHT: bold;
}


.text_normal_1
{
	COLOR: #000099;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
    FONT-WEIGHT: bold;
}


.text_mensaje
{
	COLOR: RED;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt	           
}


.menu
{
	COLOR: #808080;
	FONT-FAMILY: Tahoma;
    FONT-SIZE: 8pt;
	FONT-WEIGHT:bold;
		           
}

.text_menu
{
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    COLOR: NAVY
}



.fila_impar /* ex fila */
{
	COLOR: #000066;
	BACKGROUND-COLOR: white;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;

}


.fila_par /* ex fila1 */
{
	COLOR: #000066;
	FONT-FAMILY: Tahoma;
	BACKGROUND-COLOR:#D5F7FF;
	FONT-SIZE: 8pt;
	TEXT-ALIGN: left;
	text-transform: none;
	font-style: normal;

}


.text_fila_3 /* ex fila1 */
{
	COLOR: white;
	FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR:red;
	FONT-SIZE: 7.5pt;
	TEXT-ALIGN: center
}


/* USADO */
.text_izq_columna/* ex fila */
{
    TEXT-ALIGN: left;
}


/* USADO */
.text_der_columna/* ex fila */
{
    TEXT-ALIGN: right;
}


/* Titulos */

.text_titulo_1 /* ex titulo3 */
{
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	COLOR: "ff0000";
	TEXT-DECORATION: none;
}



.text_titulo_3 /* ex titulo4 */
{
	COLOR: black;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
	
}
 
.text_titulo_4 /* ex titulo2 (no usado) */
{
	COLOR: #000000;
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
}

.text_titulo_5 /* ex titulo2 (no usado) */
{
	COLOR: black;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 7.5pt;
	FONT-WEIGHT: bold
}

.text_titulo_6 /* ex titulo 3A (no usado) */
{
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt
}

/* Tablas */

.tabla_1 /* ex tabla1*/
{
	BACKGROUND-COLOR: WHITE;
}


.tabla_3 /* ex tabla */
{
	BACKGROUND-COLOR: #8EEE9F;
}


.tabla_4  {
	BACKGROUND-COLOR: "#c0c0c0";
	TEXT-ALIGN: center
}



.text_titulo_cabecera
{
    COLOR: #808080;
	FONT-FAMILY: Arial;
	FONT-SIZE: 18pt;
	
}	
.texttotales {
	font-size: 10px;
	font-style: normal;
	color: #000099;
	line-height: normal;
	text-decoration: overline;
	font-weight: bold;
}
.FondoTabla {
	border: thin outset;


}
.tituloFormulario {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: white;
	text-transform: capitalize;

}
.tituloRegistro {
	font-family: Tahoma;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: black;
	text-transform: capitalize;

}
.boton {
	font-size: 10px;
	font-family: Tahoma;
	text-transform: none;
	text-align: center;
	font-weight: bold;
	font-variant: normal;
	color: #000066;
}
.tituloTabla {

	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;

}


.tituloFormulario2 {        
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.tituloRegistro2 {        
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
}
.FondoFormulario {

	background-color: #E7E4E6;
	border: thin outset;
}
.tablaLista {
	font-size: 10px;
	color: #000066;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
	font-family: Tahoma;




}
.tituloFormulario3 {

	font-family: Tahoma;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	text-transform: none;
}
.tituloFormularioMensaje {
	font-family: Tahoma;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #0000FF;
	text-transform: capitalize;
	text-align: center;


}
.cambiarFuncion{
	font-family: Tahoma;
	font-size: 11px;
	color: #006633;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-decoration: underline;


}
.tituloFormulario4 {


	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FF0000;
	text-transform: none;
}
