<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuControlador</servlet-name>
        <servlet-class>Controlador.UsuControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuAdmControlador</servlet-name>
        <servlet-class>Controlador.MenuAdmControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmControlador</servlet-name>
        <servlet-class>Controlador.AdmControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdmControlador</servlet-name>
        <url-pattern>/AdmControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuUsuControlador</servlet-name>
        <servlet-class>Controlador.MenuUsuControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuControlador</servlet-name>
        <servlet-class>Controlador.MenuControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexControlador</servlet-name>
        <servlet-class>Controlador.IndexControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoControlador</servlet-name>
        <servlet-class>Controlador.EmpleadoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SexoControlador</servlet-name>
        <servlet-class>Controlador.SexoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoCivilControlador</servlet-name>
        <servlet-class>Controlador.EstadoCivilControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuControlador</servlet-name>
        <url-pattern>/UsuControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuControlador</servlet-name>
        <url-pattern>/MenuControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuAdmControlador</servlet-name>
        <url-pattern>/MenuAdmControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexControlador</servlet-name>
        <url-pattern>/IndexControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoControlador</servlet-name>
        <url-pattern>/EmpleadoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SexoControlador</servlet-name>
        <url-pattern>/SexoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoCivilControlador</servlet-name>
        <url-pattern>/EstadoCivilControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuUsuControlador</servlet-name>
        <url-pattern>/MenuUsuControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
